img {
    width: 100px;
    /* margin: 1px; */
}

.table-wrapper {
    max-width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(150px, auto));
    grid-auto-rows: 150px;
}

.table-top {
    background-color: grey;
    grid-area: 1/1/1/6;
}

.table-center {
    background-color: rgb(223, 238, 13);
    grid-area: 2/1/5/6;
    display: grid;
}

.table-bottom {
    background-color: rgb(20, 197, 241);
    grid-area: 5/1/5/6;   
}


/* .cards-shuffle img {
    margin: 3px;
    border: 1px solid red;
} */

/* .player-one {
    text-align: center;
    margin: 50px auto 20px;
}

.player-two {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
} */

/* .player-two img {
    transform: rotate(90deg);
} */

/* .cards-shuffle img:nth-child() {
    position: absolute;
    animation: shuffleone 3s 1s linear forwards;
}

.cards-shuffle img:nth-child(2) {
    position: absolute;
    animation: shuffletwo 2.5s 1.5s  linear forwards;
}

.cards-shuffle img:nth-child(3) {
    position: absolute;
    animation: shufflethree 2s 2s linear forwards;
}

.cards-shuffle img:nth-child(4) {
    position: absolute;
    animation: shufflefour 1.5s 2.5s linear forwards;
} */

/* .cards-shuffle img:nth-child(n){
    position: absolute;
    animation: shufflefour 3s 1s linear forwards;
    border: 1px solid yellow;
}

.cards-shuffle img:nth-child(2n){
    position: absolute;
    animation: shuffleone 3s 1s linear forwards;
    border: 1px solid red;
}

.cards-shuffle img:nth-child(3n){
    position: absolute;
    animation: shuffletwo 2.5s 1.5s  linear forwards;
    border: 1px solid green;
}

.cards-shuffle img:nth-child(4n){
    position: absolute;
    animation: shufflethree 2s 2s linear forwards;
    border: 1px solid blue;
} */

@keyframes shuffleone{
    from {
        left: 0;
    }
    to {
        left: 0;
    }
    0%{ transform: translateY(25px) rotate(45deg) }
    10%{ transform: translateX(30px) rotate(90deg)  }
    20%{ transform: translateY(35px) rotate(135deg)  }
    30%{ transform: translateX(40px) rotate(180deg)  }
    40%{ transform: translateY(45px) rotate(135deg)  }
    50%{ transform: translateX(50px) rotate(90deg)  }
    60%{ transform: translateY(55px) rotate(45deg)  }
    70%{ transform: translateX(60px) rotate(90deg)  }
    80%{ transform: translateY(65px) rotate(135deg)  }
    90%{ transform: translateX(70px) rotate(180deg)  }
    100%{ transform: translateY(0px) rotate(180deg)  }
}

@keyframes shuffletwo{
    from {
        left: 0;
    }
    to {
        left: 0;
    }
    0%{ transform: translateY(-25px) rotate(45deg) }
    10%{ transform: translateX(-30px) rotate(90deg)  }
    20%{ transform: translateY(-35px) rotate(135deg)  }
    30%{ transform: translateX(-40px) rotate(180deg)  }
    40%{ transform: translateY(-45px) rotate(135deg)  }
    50%{ transform: translateX(-50px) rotate(90deg)  }
    60%{ transform: translateY(-55px) rotate(45deg)  }
    70%{ transform: translateX(-60px) rotate(90deg)  }
    80%{ transform: translateY(-65px) rotate(135deg)  }
    90%{ transform: translateX(-70px) rotate(180deg)  }
    100%{ transform: translateY(0px) rotate(180deg)  }
}

@keyframes shufflethree{
    from {
        left: 0;
    }
    to {
        left: 0;
    }
    0%{ transform: translateX(25px) rotate(45deg) }
    10%{ transform: translateY(30px) rotate(90deg)  }
    20%{ transform: translateX(35px) rotate(135deg)  }
    30%{ transform: translateY(40px) rotate(180deg)  }
    40%{ transform: translateX(45px) rotate(135deg)  }
    50%{ transform: translateY(50px) rotate(90deg)  }
    60%{ transform: translateX(55px) rotate(45deg)  }
    70%{ transform: translateY(60px) rotate(90deg)  }
    80%{ transform: translateX(65px) rotate(135deg)  }
    90%{ transform: translateY(100px) rotate(180deg)  }
    100%{ transform: translateY(0px) rotate(180deg)  }
}

@keyframes shufflefour{
    from {
        left: 0;
    }
    to {
        left: 0;
    }
    0%{ transform: translateY(19px) rotate(45deg) }
    10%{ transform: translateX(56px) rotate(90deg)  }
    20%{ transform: translateY(69px) rotate(135deg)  }
    30%{ transform: translateX(13px) rotate(180deg)  }
    40%{ transform: translateY(2px) rotate(135deg)  }
    50%{ transform: translateX(97px) rotate(90deg)  }
    60%{ transform: translateY(35px) rotate(45deg)  }
    70%{ transform: translateX(77px) rotate(90deg)  }
    80%{ transform: translateY(54px) rotate(135deg)  }
    90%{ transform: translateX(65px) rotate(180deg)  }
    100%{ transform: translateY(0px) rotate(180deg)  }
}